/*! General */
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Playfair Display', serif;
  margin-bottom: calc(245px + 48px); /* footer height plus margin */
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
a {
  color: #f9683b;
}
a:hover {
  color: #f9683b;
}
footer {
  background-color: #343a40;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 245px;
}
footer img {
  height: 45px;
  margin-bottom: 1rem;
}
header {
  line-height: 1;
}
.header-logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  font-weight: 500;
  font-variant: small-caps;
}
.header-logo:hover {
  text-decoration: none;
}
header #fit-logo {
  margin-left: -61px;
}
@media (min-width: 992px) {
  .header-logo {
    font-size: 4rem;
  }
  header #fit-logo {
    margin-left: -61px;
  }
}
#main-nav.navbar {
  font-family: 'Playfair Display', serif;
}
#main-nav.navbar .dropdown-menu {
  border: none;
}
#main-nav.navbar .dropdown-item.active, .navbar .dropdown-item:active {
  background-color: #fff;
}
#main-nav.navbar .dropdown-item:hover {
  background-color: #fff;
}
#main-nav.navbar .navbar-toggler {
  padding-left: 0;
  padding-right: 0;
}
#main-nav.navbar .navbar-brand {
  font-size: 1.15rem;
}
@media (min-width: 375px) {
  #main-nav.navbar .navbar-brand {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  #main-nav.navbar-expand-md .navbar-nav .nav-link, #main-nav.navbar .dropdown-item {
    padding: 0;
    border-bottom: .25rem solid transparent;
  }
  #main-nav.navbar-expand-md .navbar-nav .nav-link:hover, #main-nav.navbar .dropdown-item:hover {
    border-bottom-color: #f9683b;
  }
  #main-nav.navbar-expand-md .navbar-nav .nav-item.active .nav-link, #main-nav.navbar .dropdown-item.active, #main-nav.navbar .dropdown-item:active {
    border-bottom-color: #f9683b;
  }
  #main-nav.navbar-expand-md .navbar-nav .nav-item:not(:first-of-type) {
    margin-left: 2rem;
  }
}
main {
  margin-top: 3rem;
}
ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . ";
}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white;
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1;
}
section {
  margin-bottom: 3rem;
}
/*! Homepage */
#large-img img {
  border: 1px solid rgba(0,0,0,.125);
  width: 100%;
  margin-bottom: 30px;
}
#small-img img  {
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,.125);
  width: 100%;
}
#small-img #small-bottom {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #large-img img {
    width: 450px;
    margin-bottom: 0;
  }
  #small-img img  {
    width: calc((450px / 3) - 30px);
  }
}
@media (min-width: 992px) {
  #large-img img {
    width: 600px;
  }
  #small-img img  {
    width: calc((600px / 3) - 30px);
  }
}
@media (min-width: 1200px) {
  #large-img img {
    width: 850px;
  }
  #small-img img  {
    width: calc((850px / 3) - 30px);
  }
}

#home #about section p:first-of-type::first-letter {
  float: left;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.25rem;
  line-height: .9;
  padding-right: 8px;
  padding-left: 3px;
}
#home #about::before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
  pointer-events: none;
}

/*! Browse */
.browse #grid h2 {
  font-size: 1.25rem;
}
.browse .card-deck {
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.browse .card-deck .card {
  flex: 0 0 calc((100% / 2) - 30px);
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  border: 0;
}
@media (min-width: 768px) {
  .browse .card-deck .card {
    flex: 0 0 calc((100% / 4) - 60px);
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px
  }
}
@media (min-width: 992px) {
  .browse .card-deck .card {
    flex: 0 0 calc((100% / 5) - 60px);
  }
}
.browse .card-deck .card a {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.browse .card-deck .card a:hover {
  text-decoration: none;
}
.browse .card-deck .card .card-push {
  flex: 1 1 auto;
}
.browse .card-deck .card .card-img {
  max-height: 175px;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  object-fit: cover;
}
.browse .card-deck .card .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
  font-size: 1rem;
}
.page-item.active .page-link {
  background-color: #f9683b;
  border-color: #f9683b;
}
.page-link {
  color: #f9683b;
}
/*! Show */
#viewer {
  border: 0;
}
#viewer .tab-pane {
  background-image: url('../images/loading-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  min-height: 250px;
}
#viewer .tab-content>.active {
    display: flex;
}
#viewer .os-static-image {
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  max-height: 250px;
  max-width: 100%;
  cursor: zoom-in;
}
@media (min-width: 576px) {
  #viewer .os-static-image {
    max-height: 300px;
  }
}
@media (min-width: 768px) {
  #viewer .os-static-image {
    max-height: 460px;
  }
}
@media (min-width: 992px) {
  #viewer .os-static-image {
    max-height: 500px;
  }
}
.openseadragon.fullpage {
  background-image: url('../images/loading.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-color: #000000;
}
#viewer .nav-item #nav-image {
  height: 2rem;
  width: auto;
  border-color: rgba(0,0,0,.125);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0;
  border-radius: 0;
}
@media (min-width: 768px) {
  #viewer .nav-item #nav-image {
    height: 2.5rem;
  }
}
@media (min-width: 992px) {
  #viewer .nav-item #nav-image {
    height: 3rem;
  }
}
#viewer .nav-item .nav-link.active #nav-image {
  opacity: 0.2;
}
#viewer .btn-arrow {
  position: absolute;
  top: calc(50% - 24px); /*! Half of the image height minus half the button size */
  line-height: 1;
  background-color: transparent;
  padding: 0;
  color: #f9683b;
  border: none;
  opacity: 1;
}
#viewer .btn-arrow:active {
  opacity: .7;
}
.btn:not([disabled]):not(.disabled):active, .btn:focus {
  box-shadow: none;
}
#viewer .btnPrevious {
  left: 0;
}
#viewer .btnNext {
  right: 0;
}
#viewer .btn-arrow i {
  font-size: 4rem;
}
#viewer #static-image-wrapper {
  position: relative;
}
#viewer .btn-download {
  color: #f9683b;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 1;
}
#viewer .btn-download:active {
  opacity: .7;
}
#metadata h3 {
  font-size: 1.5rem;
}
#metadata .element {
  margin-bottom: 2rem;
}
#metadata .element a {
  color: #343a40;
}
#metadata .element a:after {
  content: "\2006link";
  color: #f9683b;
  font-family: 'Material Icons';
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  transform: rotate(-45deg);
  opacity: 1;
}
#metadata .element a:focus, #metadata .element a:hover {
  color: #1d2124;
  text-decoration: none;
}
#metadata .element a:focus:after, #metadata .element a:hover:after {
  opacity: .7;
}
/* Simple Pages */
.embed-responsive {
  background-image: url('../images/loading-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
}
.embed-responsive-7by5::before {
  padding-top: 140%;
}
#resource-list li {
  margin-bottom: 1rem;
}
